*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Roboto", sans-serif;
	background: -webkit-linear-gradient(#316fe4, #323be6);
	background: linear-gradient(#316fe4, #323be6);
	letter-spacing: 2px;
}
.dashboard {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	&__main-container {
		width: 100vw;
		height: 100vh;
		color: #caf0f8;
	}
	&__container {
		font-size: 0.8rem;
		z-index: 10;
	}
	&__container-name {
		padding: 1em;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #60dfff;
		color: #000046;
	}
	&__container-menu {
		position: absolute;
		top: 0;
		width: 100%;
		display: grid;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		background-color: #60dfff;
		color: #000046;
	}
	&__account-name {
		display: flex;
		align-items: center;
	}
	&__menu-item {
		display: flex;
		align-items: center;
		translate: color 0.3s;
		cursor: pointer;
		a {
			display: flex;
			align-items: center;
			color: #000046;
			text-decoration: none;
			&:hover {
				color: #316fe4;
			}
		}
	}
	span {
		padding-right: 0.25em;
		font-size: 1.3rem;
	}
	.hamburger {
		z-index: 10;
		cursor: pointer;
	}
	.opened-menu {
		display: none;
	}
}
@media (min-width: 368px) {
	.dashboard {
		&__container {
			font-size: 0.9rem;
		}
	}
}
@media (min-width: 576px) {
	.dashboard {
		&__container {
			font-size: 1rem;
		}
	}
}
@media (max-width: 768px) {
	.dashboard {
		&__container-menu {
			height: 50vh;
			h3 {
				display: none;
			}
		}
	}
}
@media (min-width: 768px) {
	.dashboard {
		&__main-container {
			width: 85vw;
			height: 85vh;
			display: flex;
			background-color: #caf0f8;
			border-radius: 5px;
			overflow: hidden;
		}
		&__container {
			height: 100%;
			font-size: 1.1rem;
		}
		&__container-name {
			display: none;
		}
		&__container-menu {
			position: relative;
			padding: 0 1.5em;
			width: 220px;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: start;
			background-color: #60dfff;
			color: #000046;
			h3 {
				display: flex;
			}
		}

		.hamburger {
			display: none;
		}
		.opened-menu {
			display: flex;
		}
	}
}
@media (min-width: 992px) {
	.dashboard {
		&__container {
			font-size: 1.2rem;
		}
		&__container-menu {
			width: 250px;
		}
	}
}
