*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	height: 100vh;
	font-family: "Roboto", sans-serif;
	background: -webkit-linear-gradient(#316fe4, #323be6);
	background: linear-gradient(#316fe4, #323be6);
	letter-spacing: 2px;
}
.firstlog-onboarding {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	&__main-container {
		width: 100vw;
		height: 100vh;
		color: #caf0f8;
	}
	&__container {
		width: 100%;
		font-size: 0.8rem;
		color: #000046;
	}
	&__container-name {
		margin: 2em 0;
		color: #000046;
	}
}
@media (max-width: 368px) {
	.firstlog-onboarding {
	}
}
@media (min-width: 368px) {
	.firstlog-onboarding {
		&__container {
			font-size: 0.9rem;
		}
	}
}
@media (min-width: 576px) {
	.firstlog-onboarding {
		&__container {
		}
	}
}
@media (max-width: 768px) {
	.firstlog-onboarding {
		&__main-container {
			display: flex;
			justify-content: center;
		}
		&__container {
			color: #caf0f8;
			font-size: 1rem;
		}
		&__container-name {
			margin-top: 50px;
			text-align: center;
		}
	}
}
@media (min-width: 768px) {
	.firstlog-onboarding {
		&__main-container {
			width: 85vw;
			height: 85vh;
			display: flex;
			background-color: #caf0f8;
			border-radius: 5px;
			overflow: hidden;
		}
		&__container {
			padding: 1em;
			font-size: 1.1rem;
		}
		&__container-name {
			margin-top: 30px;
		}
	}
}
@media (min-width: 992px) {
	.firstlog-onboarding {
		&__container {
			font-size: 1.2rem;
		}
	}
}
@media (min-width: 1200px) {
	.firstlog-onboarding {
	}
}
