*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	position: relative;
	font-family: "Roboto", sans-serif;
	background: -webkit-linear-gradient(#316fe4, #323be6);
	background: linear-gradient(#316fe4, #323be6);
	letter-spacing: 2px;
}
.macronutrients {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	&__main-container {
		width: 100vw;
		height: 100vh;
		color: #caf0f8;
	}
	&__container {
		font-size: 0.8rem;
		color: #000046;
	}
	&__container-name {
		margin: 1em 0;
		color: #000046;
	}
	&__macros-calories-container {
		margin: 2em 0;
	}
	&__macro-item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__macro-name {
		margin: 0.5em 0;
		font-weight: bold;
	}
	&__macros-container {
		margin: 3em 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.calories {
		padding-bottom: 5px;
		width: 50px;
		height: 120px;
		display: flex;
		justify-content: center;
		align-items: end;
	}
	.item {
		width: 100%;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.calories,
	.item {
		background-color: #000046;
		border-radius: 5px;
	}
}
@media (min-width: 368px) {
	.macronutrients {
		&__container {
			font-size: 0.9rem;
		}
		.calories {
			width: 70px;
			height: 150px;
		}
		.item {
			width: 180px;
			height: 40px;
		}
	}
}
@media (min-width: 576px) {
	.macronutrients {
		&__container {
			padding: 1em;
		}
		&__macros-container {
			flex-direction: row;
			justify-content: space-evenly;
		}
		&__macro-item {
			margin: 0 0.25em;
		}
		.calories {
			width: 220px;
			height: 70px;
			align-items: center;
		}
		.item {
			width: 40px;
			height: 180px;
		}
	}
}
@media (min-width: 576px) and (max-width: 768px) {
	.macronutrients {
		&__container {
			width: 70%;
		}
	}
}
@media (max-width: 768px) {
	.macronutrients {
		&__main-container {
			display: flex;
			justify-content: center;
		}
		&__container {
			padding: 1em;
			color: #caf0f8;
			font-size: 1rem;
		}
		&__container-name {
			margin-top: 50px;
			text-align: center;
		}
	}
}
@media (min-width: 768px) {
	.macronutrients {
		&__main-container {
			width: 85vw;
			height: 85vh;
			background-color: #caf0f8;
			border-radius: 5px;
			overflow: hidden;
		}
		&__container {
			padding: 1em;
			margin-left: 220px;
			height: 100%;
			font-size: 1.1rem;
		}
		&__macros-container {
			flex-direction: column;
		}
		&__macro-box {
			color: #caf0f8;
		}
		.calories,
		.item {
			background-color: #60dfff;
			color: #000046;
		}
		.item {
			width: 180px;
			height: 40px;
		}
	}
}
@media (min-width: 992px) {
	.macronutrients {
		&__container {
			margin-left: 250px;
			font-size: 1.2rem;
		}
		&__macros-container {
			margin: 3em;
			flex-direction: row;
			justify-content: space-evenly;
		}
		.item {
			width: 50px;
			height: 180px;
		}
	}
}
@media (min-width: 1200px) {
	.macronutrients {
		.item {
			margin: 0 1em;
		}
	}
}
