*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Roboto", sans-serif;
	background: -webkit-linear-gradient(#316fe4, #323be6);
	background: linear-gradient(#316fe4, #323be6);
	letter-spacing: 2px;
}
.menu {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	&__main-container {
		width: 100vw;
		height: 100vh;
		color: #caf0f8;
	}
	&__container {
		width: 100%;
		height: 100%;
		font-size: 0.8rem;
		color: #000046;
	}
	&__container-name {
		margin: 2em 0;
		color: #000046;
	}
	&__add-food-container {
		height: 85%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		overflow: scroll;
	}
	&__meal-item-container {
		min-height: 25vh;
		display: flex;
		flex-direction: column;
	}
	&__meal-item {
		display: flex;
		align-items: center;
		font-weight: bold;
	}
	&__meal-add-btn {
		margin: 0 1em;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		cursor: pointer;
	}
	&__added-food-item {
		display: flex;
		p {
			margin: 0 0.25em;
		}
	}
	&__input-container {
		position: relative;
		text-align: center;
	}
	&__cancel-btn {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0.1em;
		margin: 2em;
		display: flex;
		background-color: white;
		color: #000046;
		border-radius: 5px;
		cursor: pointer;
	}
	&__input-food,
	&__add-food-btn {
		padding: 0.5em;
		background-color: white;
	}
	&__input-food {
		width: 200px;
		&:first-child {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
	}
	.grams {
		width: 60px;
	}
	&__add-food-btn {
		padding: 0.5em 1em;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		font-weight: bold;
		cursor: pointer;
	}
	&__food-main-container {
		margin: 2em 0;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-content: space-around;
		text-align: center;
	}
	&__food-main-type {
		padding: 0.35em 0;
		width: 100%;
		background-color: #caf0f8;
		color: #000046;
		font-weight: bold;
		border: 1px solid #000046;
		&:first-child {
			border-top-left-radius: 5px;
		}
		&:last-child {
			border-top-right-radius: 5px;
		}
	}
	.small-view {
		display: grid;
	}
	.big-view {
		display: none;
	}
	&__background-shadow {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		display: none;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.95);
		transition: 0.3s;
		z-index: 100;
	}
	&__background-shadow.open {
		display: flex;
		opacity: 1;
	}
}
@media (max-width: 368px) {
	.menu {
		&__input-container {
			text-align: center;
		}
		&__input-food,
		&__add-food-btn {
			border-radius: 5px;
		}
	}
}
@media (min-width: 368px) {
	.menu {
		&__container {
			font-size: 0.9rem;
		}
		&__input-food,
		&__add-food-btn {
			padding: 0.6em;
		}
		&__input-food {
			width: 240px;
		}
		&__add-food-btn {
			padding: 0.6em 1em;
		}
	}
}
@media (min-width: 576px) {
	.menu {
		&__container {
			padding: 1em;
		}
		&__add-food-container {
			grid-template-columns: repeat(2, 1fr);
		}
		&__cancel-btn {
			padding: 0.25em;
		}
		.small-view {
			display: none;
		}
		.big-view {
			display: grid;
		}
	}
}
@media (max-width: 768px) {
	.menu {
		&__main-container {
			display: flex;
			justify-content: center;
		}
		&__container {
			padding: 1em;
			color: #caf0f8;
			font-size: 1rem;
		}
		&__container-name {
			margin-top: 50px;
			text-align: center;
		}
	}
}
@media (min-width: 768px) {
	.menu {
		&__main-container {
			width: 85vw;
			height: 85vh;
			display: flex;
			background-color: #caf0f8;
			border-radius: 5px;
			overflow: hidden;
		}
		&__container {
			padding: 1em;
			margin-left: 220px;
			height: 100%;
			font-size: 1.1rem;
		}
		&__container-name {
			margin-top: 30px;
		}
		&__add-food-container {
			grid-template-columns: repeat(1, 1fr);
		}
		&__meal-add-btn {
			background-color: #000046;
			color: #caf0f8;
			transition: background 0.3s;
			&:hover {
				background-color: #60dfff;
				color: #000046;
			}
		}
		&__middle-container {
			display: flex;
			flex-direction: column;
		}
		&__input-food,
		&__add-food-btn {
			padding: 0.7em;
		}
		&__input-food {
			width: 240px;
		}
		&__add-food-btn {
			padding: 0.7em 1em;
			transition: background 0.3s;
			&:hover {
				background-color: #60dfff;
			}
		}
		&__cancel-btn {
			transition: 0.3s;
			&:hover {
				background-color: #60dfff;
			}
		}
		&__food-main-type {
			background-color: #60dfff;
		}
		.small-view {
			display: grid;
		}
		.big-view {
			display: none;
		}
	}
}
@media (min-width: 992px) {
	.menu {
		&__container {
			margin-left: 250px;
			font-size: 1.2rem;
		}
		&__add-food-container {
			grid-template-columns: repeat(2, 1fr);
		}
		&__input-food {
			width: 300px;
		}
		.small-view {
			display: none;
		}
		.big-view {
			display: grid;
		}
	}
}
