*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Roboto", sans-serif;
	background: -webkit-linear-gradient(#316fe4, #323be6);
	background: linear-gradient(#316fe4, #323be6);
	letter-spacing: 2px;
}
.recipes {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	&__main-container {
		width: 100vw;
		height: 100vh;
		color: #caf0f8;
	}
	&__container {
		font-size: 0.8rem;
		color: #000046;
	}
	&__container-name {
		margin: 1em 0;
		color: #000046;
	}
	&__calories-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	&__recipes-item {
		cursor: pointer;
	}
}
@media (min-width: 368px) {
	.recipes {
		&__container {
			font-size: 0.9rem;
		}
	}
}
@media (min-width: 576px) {
	.recipes {
		&__container {
			padding: 1em;
		}
	}
}
@media (max-width: 768px) {
	.recipes {
		&__container {
			padding: 1em;
			color: #caf0f8;
			font-size: 1rem;
		}
		&__container-name {
			margin-top: 50px;
		}
	}
}
@media (min-width: 768px) {
	.recipes {
		&__main-container {
			width: 85vw;
			height: 85vh;
			display: flex;
			background-color: #caf0f8;
			border-radius: 5px;
			overflow: hidden;
		}
		&__container {
			padding: 1em;
			margin-left: 220px;
			height: 100%;
			font-size: 1.1rem;
		}
		&__container-name {
			margin-top: 30px;
		}
	}
}
@media (min-width: 992px) {
	.recipes {
		&__container {
			margin-left: 250px;
			font-size: 1.2rem;
		}
	}
}
