*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Roboto", sans-serif;
	background: -webkit-linear-gradient(#316fe4, #323be6);
	background: linear-gradient(#316fe4, #323be6);
	letter-spacing: 2px;
}
.settings {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	&__main-container {
		width: 100vw;
		height: 100vh;
		color: #caf0f8;
	}
	&__container-name {
		color: #000046;
	}
	&__container {
		padding: 1em;
		display: flex;
		flex-direction: column;
		font-size: 0.8rem;
		color: #000046;
	}
	&__over-container {
		margin: 1em 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		overflow: scroll;
	}
	&__user-settings-container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.toggle-password-btn {
		padding: 0.25em;
		margin-right: 0.25em;
		font-size: 0.8rem;
		font-weight: bold;
		border-radius: 5px;
		cursor: pointer;
	}
	.choices {
		display: flex;
		flex-direction: column;
		input {
			width: 172px;
			padding: 0.25em 0;
		}
	}
	&__user-settings-name {
		font-weight: bold;
	}
	&__user-settings-data,
	&__user-settings-name {
		padding: 0.25em 0.5em;
		font-size: 0.8rem;
		border-radius: 5px;
	}
	&__user-settings-data {
		cursor: pointer;
	}
	.calories {
		input {
			width: 100px;
		}
	}
	input[type="range"].settings__user-settings-data {
		appearance: none;
		padding: 2px;
		margin: 3px 0;
		height: 15px;
	}
	input[type="range"].settings__user-settings-data::-webkit-slider-thumb {
		appearance: none;
		width: 13px;
		height: 13px;
		background-color: #000046;
		border: 1px solid #60dfff;
		border-radius: 5px;
	}
	&__input-macro-container {
		div {
			margin-left: 0.55em;
			span {
				font-weight: bold;
			}
		}
	}
	&__edited-data-btn-container {
		margin: 1em 0;
	}
	&__edited-data-btn {
		padding: 0.35em 0.5em;
		background-color: white;
		font-size: 0.8rem;
		font-weight: bold;
		border-radius: 5px;
		cursor: pointer;
	}
	.active {
		background-color: #60dfff;
	}
}
@media (max-width: 368px) {
	.settings {
		input[type="range"].settings__user-settings-data {
			width: 70%;
		}
	}
}
@media (min-width: 368px) {
	.settings {
		&__container {
			padding: 1em;
			width: 100%;
			font-size: 0.9rem;
		}
		&__user-settings-item {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.choices {
			position: relative;
			span {
				position: absolute;
				top: 2px;
				left: -65px;
				display: flex;
			}
		}
		&__user-settings-data,
		&__user-settings-name {
			font-size: 0.9rem;
		}
		input[type="range"].settings__user-settings-data {
			margin: 2px 0;
			height: 18px;
		}
		input[type="range"].settings__user-settings-data::-webkit-slider-thumb {
			width: 15px;
			height: 15px;
		}
		&__input-macro-container {
			width: 100%;
			display: flex;
			justify-content: end;
		}
		&__edited-data-btn-container {
			text-align: center;
		}
		&__edited-data-btn {
			padding: 0.5em 0.75em;
			font-size: 0.9rem;
			text-align: center;
		}
	}
}
@media (min-width: 576px) {
	.settings {
		&__container {
			padding: 1em;
		}
		&__user-settings-container {
			width: 100%;
		}
		&__user-settings-item {
			margin: 0 auto;
			width: 70%;
		}
	}
}
@media (max-width: 768px) {
	.settings {
		&__main-container {
			display: flex;
			justify-content: center;
		}
		&__container-name {
			margin-top: 50px;
			text-align: center;
		}
		&__container {
			color: #caf0f8;
		}
		&__over-container {
			min-height: 100%;
		}
		.choices {
			span {
				padding: 0 0.5em;
			}
		}
	}
}
@media (min-width: 768px) {
	.settings {
		&__main-container {
			width: 85vw;
			height: 85vh;
			display: flex;
			background-color: #caf0f8;
			border-radius: 5px;
			overflow: hidden;
		}
		&__container-name {
			margin-top: 30px;
		}
		&__container {
			margin-left: 220px;
			font-size: 1.1rem;
		}
		&__over-container {
			height: 100%;
		}
		.toggle-password-btn {
			padding: 0.25em 0.5em;
			font-size: 0.9rem;
		}
		&__user-settings-item {
			width: 100%;
		}
		.toggle-password-btn {
			transition: background 0.3s;
			&:hover {
				background-color: #60dfff;
			}
		}
		.choices {
			position: relative;
			span {
				position: absolute;
				top: 0;
				left: -75px;
				display: flex;
			}
		}
		input[type="range"].settings__user-settings-data {
			height: 22px;
			border: 1px solid #000046;
		}
		input[type="range"].settings__user-settings-data::-webkit-slider-thumb {
			width: 17px;
			height: 17px;
			background-color: #60dfff;
			border: 1px solid #000046;
		}
		&__user-settings-data,
		&__user-settings-name {
			padding: 0.25em 0;
			font-size: 1rem;
		}
		input,
		select {
			padding: 0.25em 0.5em;
		}
		&__edited-data-btn {
			padding: 0.75em 1.25em;
			transition: background 0.3s;
			&:hover {
				background-color: #60dfff;
			}
		}
	}
}
@media (min-width: 992px) {
	.settings {
		&__container {
			margin-left: 250px;
			font-size: 1.2rem;
		}
		&__user-settings-item {
			width: 80%;
		}
		&__user-settings-data,
		&__user-settings-name {
			font-size: 1.1rem;
		}
	}
}
@media (min-width: 1200px) {
	.settings {
		&__user-settings-item {
			width: 60%;
		}
	}
}
